<div class="container">
    <div class="card text-white bg-black mt-4">
        <div class="card-body">
            <h2>Sou a pagina de pendencias do {{usuario.nome}}</h2>
        </div>

    </div>
</div>
<div class="container">

    <!--Titulo da pagina-->
    <div class="container mt-5">
    </div>

    <!--Corpo da pagina-->
    <hr>
    <div class="container mt-1">
        <a href="/Usuario/Anotacoes/nova">
            <button class="btn btn-success">Nova anotação</button></a>
        <span class="badge badge-pill bg-success align-text-bottom text-white">{{count.count}}</span></h5>
    </div>
    <!--Pendências-->
    {{#each agenda}}
    <div class="card text-white  mt-3 ">
        <div class="card text-dark">
            <!--Titulo-->
            <div class="card-header bg-dark text-white">
                <div class="row">
                    <h2 class="col-11 text-left">{{dataValues.titulo}}</h2>
                    <div class="text-right">
                        <a class="btn btn-primary text-right" data-toggle="collapse" href="#anotacao_{{dataValues.ID}}"
                            role="button" aria-expanded="false" aria-controls="anotacao_{{dataValues.ID}}">
                            Expandir
                        </a>
                    </div>
                </div>
            </div>
            <!--Conteudo-->
            <div class=" card-body collapse" id="anotacao_{{dataValues.ID}}"><br>
                <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;"
                    id="content{{dataValues.ID}}">
                </div>

                <input type="hidden" id="dados{{dataValues.ID}}" value="{{dataValues.conteudo}}">
                <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
                <script>
                    var text = document.getElementById("dados{{dataValues.ID}}").value
                    document.getElementById('content{{dataValues.ID}}').innerHTML =
                        marked(text);
                    text = document.getElementById("dados").value = ""
                </script>
                <br>
                <a href="/Usuario/Anotacoes/deletar/{{dataValues.ID}}">
                    <button class="btn btn-danger">Deletar</button></a>
                <!--Editar-->
                <a href="/Usuario/Anotacoes/editar/{{dataValues.ID}}">
                    <button class="btn btn-primary">Editar</button></a>

            </div>
            <div class="card-footer text-muted">
                Criado em: {{dataValues.dataCriacao}}
            </div>
        </div>
    </div>
    {{/each}}

</div>
